.box1{
    border:1px solid ;
    width:500px;
    height:500px;
    position: relative;
}

.box{
    border:1px solid black;
    width: 200px;
    height:200px;
    background-color: crimson;

    /* position:relative;
    left: 250px;
    top: 10px; */

    /* position: absolute;
    left: 100px;
    top: 300px; */

    /* position: fixed;
    left: 300px;
    top: 20px; */

    /* position: sticky;
    left: 70px;
    top: 50px; */

     position: absolute;
    left: 100px;
    top: 30px;
}
body{
    font-family: arial;
}